:root {
  --content-gap: 12px;
}

.nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: calc(var(--nav-width) + var(--gap) * 2);
    margin-inline-start: auto;
    margin-inline-end: auto;
    line-height: var(--header-height);
    background-color: #dddddd; /* DNJ, was #eeeeee*/
}

p {
	color: dimgrey; /* DNJ, was grey */
	}
	
body {
    font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 16px;
    line-height: 1.6;
    word-break: break-word;
    background: var(--theme);
}

/* fix list items in posts coming out black, not sure why */
.post-content li {
	color: dimgrey;
	}
	
h3 {
	color: #696969
	}

img[src$='#floatleft']
{
	float:left;
	padding-left: 30px;
	padding-right: 30px;
}

body a {
/* 
    color: #505050;
 */
}

nav a {
    color: black;
    font-weight: 300;
}
#menu .active {
	border-bottom: none;
    font-weight: 500;
}

h1, h2, h3 {
    color: rgb(43,103,121);
	}

h2 {
	font-size: 22px;
    line-height: 1.3;
}

